@model TicketViewModels
@{
    ViewBag.Title = "Ver";
}


@using (Html.BeginForm("Actualizar", "Tarea", FormMethod.Post))
{
    <h2>
        Ver Ticket
        <a style="float:right" class="btn btn-primary" href="@Url.Action("Asignar","Ticket")"><i class="flaticon-envelope"></i>Regresar</a>
    </h2>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Ticket</label>
                    @Html.TextBoxFor(m => m.VIEW.IDTICKET, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                    <div hidden><input type="text" id="txtidSolicitante" class="spinner-input form-control"> </div>
                    <div hidden><input type="text" id="txtFechaRegistro" class="spinner-input form-control"> </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Fecha Generación</label>
                    @Html.TextBoxFor(m => m.VIEW.FECHAREGISTRO, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                    <div hidden><input type="text" id="txtEstado" class="spinner-input form-control" readonly> </div>
                    <div hidden><input type="text" id="txtIdTarea" class="spinner-input form-control" readonly> </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    @Html.TextBoxFor(m => m.VIEW.DESESTADO, new { @class = "form-control", @required = "required", @redonly = "readonly", @disabled = "" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Tipo Ticket</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-th-list"></i>
                        </span>
                        <select name="IdTipo" class="form-control" required disabled="">
                            <option> Seleccione....</option>
                            @foreach (var item in Model?.ListTipo)
                            {
                                <option value="@item.CODIGO" @(item.CODIGO == Model.VIEW.TIPO.ToString() ? "selected" : "")>@item.NOMBRE</option>

                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Solicitante</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <div hidden>
                            @Html.TextBoxFor(m => m.VIEW.IDSOLICITANTE, new { @class = "form-control", @required = "required", @redonly = "readonly" })
                        </div>
                        @Html.TextBoxFor(m => m.VIEW.SOLICITANTE, new { @class = "form-control", @required = "required", @redonly = "readonly", @disabled = "" })

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Responsable</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <select name="VIEW.IDRESPONSABLE" class="form-control" required disabled="">
                            <option> Seleccione....</option>
                            @foreach (var item in Model?.ListRESPONSABLE)
                            {
                                <option value="@item.IDPERSONA" @(item.IDPERSONA == Model.VIEW.IDRESPONSABLE ? "selected" : "")>@item.NOMBRECOMPLETO</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="control-label">Motivo Ticket</label>
                    @Html.TextBoxFor(m => m.VIEW.DESCRIPCION, new { @class = "form-control", @required = "required", @redonly = "readonly", @disabled = "" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Referencia</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.VIEW.CODIGO, new { @class = "form-control", @required = "required", @redonly = "readonly", @disabled = "" })
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">Observación</label>
                    @Html.TextAreaFor(m => m.VIEW.OBSERVACION, new { @class = "form-control", @required = "required", @redonly = "readonly", @disabled = "", @rows = "3" })
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-sm-3">
                <div class="form-group">
                    <label class=" control-label">Fecha de Asignación </label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        @Html.TextBoxFor(m => m.VIEW.FECHAINI, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class=" control-label">Fecha de Termino</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        @Html.TextBoxFor(m => m.VIEW.FECHAFIN, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">Solución</label>
                    @Html.TextAreaFor(m => m.VIEW.SOLUCION, new { @class = "form-control", @required = "required", @redonly = "readonly", @disabled = "", @rows = "5" })
                </div>
            </div>

        </div>
    </div>
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Usuario Creación</label>
                    @Html.TextBoxFor(m => m.VIEW.USUARIOCREACION, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Fecha Creación</label>
                    @Html.TextBoxFor(m => m.VIEW.FECHACREACION, new { @class = "form-control", @redonly = "readonly", @disabled = "" })

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">IP Creación</label>
                    @Html.TextBoxFor(m => m.VIEW.IPCREACION, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Usuario Modificación</label>
                    @Html.TextBoxFor(m => m.VIEW.USUARIODMODIFICACION, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Fecha Modificación</label>
                    @Html.TextBoxFor(m => m.VIEW.FECHAMODIFICACION, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">IP Modificación</label>
                    @Html.TextBoxFor(m => m.VIEW.IPMODIFICACION, new { @class = "form-control", @redonly = "readonly", @disabled = "" })
                </div>
            </div>
        </div>
    </footer>

}





