@model VIEW_Accesos
@{
    ViewBag.Title = "Profile";
}

<!-- start: page -->

<div class="row">
    <div class="col-md-4 col-lg-3">

        <section class="panel">
            <div class="panel-body">
                <div class="thumb-info mb-md">
                    <img src="assets/images/!logged-user.jpg" class="rounded img-responsive" alt="@ViewBag.UserNameAdmin">
                    <div class="thumb-info-title">
                        <span class="thumb-info-inner">@ViewBag.UserNameAdmin</span>
                        <span class="thumb-info-type">CEO</span>
                    </div>
                </div>

                <div class="widget-toggle-expand mb-md">
                    <div class="widget-header">
                        <h6>Profile Completion</h6>
                        <div class="widget-toggle">+</div>
                    </div>
                    <div class="widget-content-collapsed">
                        <div class="progress progress-xs light">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60%
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-expanded">
                        <ul class="simple-todo-list">
                            <li class="completed">Update Profile Picture</li>
                            <li class="completed">Change Personal Information</li>
                            <li>Update Social Media</li>
                            <li>Follow Someone</li>
                        </ul>
                    </div>
                </div>

                <hr class="dotted short">

                <h6 class="text-muted">About</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vulputate quam. Interdum et malesuada</p>
                <div class="clearfix">
                    <a class="text-uppercase text-muted pull-right" href="#">(View All)</a>
                </div>

                <hr class="dotted short">

                <div class="social-icons-list">
                    <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                </div>

            </div>
        </section>


    </div>
    <div class="col-md-8 col-lg-6">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-info">
                @TempData["Message"]
            </div>
        }

        @using (Html.BeginForm("Grabar", "Login", FormMethod.Post))
        {
            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="active">
                        <a href="#edit" data-toggle="tab">Mi Perfil</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="edit" class="tab-pane active">
                        <form class="form-horizontal" method="get">
                            <h4 class="mb-xlg">Información Personal</h4>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileFirstName">Documento</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.DOCUMENTO, new { @class = "form-control", @required = "required", @maxlength = "15" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileFirstName">Nombre</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.NOMBRE, new { @class = "form-control", @required = "required", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileLastName">Ape Paterno</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.APEPATERNO, new { @class = "form-control", @required = "required", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileLastName">Ape Materno</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.APEMATERNO, new { @class = "form-control", @required = "required", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileCompany">E-mail</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.EMAIL, new { @class = "form-control", @required = "required", @maxlength = "100" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileCompany">Perfil</label>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.DESTIPOUSUARIO, new { @class = "form-control", @required = "required", @maxlength = "100" })
                                    </div>
                                </div>
                            </fieldset>

                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Cambio Password</h4>
                            <fieldset class="mb-xl">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileNewPassword">Nuevo Password</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileNewPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileNewPasswordRepeat">Repetir Password</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileNewPasswordRepeat">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        }
        </div>
    <div class="col-md-12 col-lg-3">

        <h4 class="mb-md">Sale Stats</h4>
        <ul class="simple-card-list mb-xlg">
            <li class="primary">
                <h3>488</h3>
                <p>Nullam quris ris.</p>
            </li>
            <li class="primary">
                <h3>$ 189,000.00</h3>
                <p>Nullam quris ris.</p>
            </li>
            <li class="primary">
                <h3>16</h3>
                <p>Nullam quris ris.</p>
            </li>
        </ul>

        <h4 class="mb-md">Projects</h4>
        <ul class="simple-bullet-list mb-xlg">
            <li class="red">
                <span class="title">Porto Template</span>
                <span class="description truncate">Lorem ipsom dolor sit.</span>
            </li>
            <li class="green">
                <span class="title">Tucson HTML5 Template</span>
                <span class="description truncate">Lorem ipsom dolor sit amet</span>
            </li>
            <li class="blue">
                <span class="title">Porto HTML5 Template</span>
                <span class="description truncate">Lorem ipsom dolor sit.</span>
            </li>
            <li class="orange">
                <span class="title">Tucson Template</span>
                <span class="description truncate">Lorem ipsom dolor sit.</span>
            </li>
        </ul>

    </div>

</div>
<!-- end: page -->
