@model IEnumerable<VIEW_TareaAsignadas>

@{
    ViewBag.Title = "Index";
}

<input type="hidden" id="IdUsuario" class="spinner-input form-control" readonly value="@ViewBag.IdUsuarioAdmin">

<!-- start: page -->
<section class="panel">
    <div class="row">
        <div class="col-md-12">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li id="ClickTarea" class="active">
                        <a href="#popular" data-toggle="tab">
                    
                            Consultar
                        </a>
                    </li>

                    <li id="ClickAcciones">
                        <a href="#Acciones" data-toggle="tab">
                  
                            Acciones
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="popular" class="tab-pane active">
                        <form id="Frmpopular">
                            <div class="panel-body">
                                <div class="row">
                                    <ul class="notifications" style="float:right">
                                        <li>
                                            <a href="#" onclick="SendParametrosList()" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Nuevo","Tarea")" class="btn btn-primary">
                                                <i class="fa fa-file-o"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Responsable Tarea</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <select name="IdResponsable" class="form-control" required>
                                                    <option> Seleccione....</option>
                                                    @foreach (var item in ViewBag.ListRESPONSABLE)
                                                    {
                                                        <option value="@item.IDPERSONA" @(item.IDPERSONA == ViewBag.IdUsuarioAdmin ? "selected" : "")> @item.NOMBRECOMPLETO</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class=" control-label">Fecha Inicio Tarea</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" id="FechaIniTarea" placeholder="__/__/____" data-plugin-datepicker data-plugin-options='{"format": "dd/mm/yyyy"}'
                                                       class="form-control" value="@ViewBag.FechaRegistro">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class=" control-label">Fecha Fin Tarea</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" id="FechaFinTarea" placeholder="__/__/____" data-plugin-datepicker data-plugin-options='{"format": "dd/mm/yyyy"}'
                                                       class="form-control" value="@ViewBag.FechaRegistro">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Tarea</label>
                                            <input type="text" id="TxtTarea" maxlength="30" name="lastname" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Estado</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-tasks"></i>
                                                </span>
                                                <select name="IdEstado" class="form-control" required>
                                                    <option> Seleccione....</option>
                                                    @foreach (var item in ViewBag.ListEstado)
                                                    {
                                                        <option value="@item.CODIGO">@item.NOMBRE</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div id="ContenedorTarea" class="form-group">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="panel-body">

                                        <table class="table table-hover mb-none" id="datatable-default">
                                            <thead>
                                                <tr class="dark">
                                                    <th>Nro</th>
                                                    <th>Fecha</th>
                                                    <th>Tipo</th>
                                                    <th>Tarea</th>
                                                    <th>Responsable</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.ID_TAREA</td>
                                                        <td>@item.FECREGISTRO</td>
                                                        <td>@item.TIPOREQUERIMIENTO</td>
                                                        <td>@item.TAREA</td>
                                                        <td>@item.RESPONSABLE</td>
                                                        <td class="btn btn-@item.COLORESTADO ">@item.DESESTADO</td>
                                                        <td style="width:12%">
                                                            <a title="Editar" href="@Url.Action("Modificar","Tarea", new { id=item.ID_TAREA})"><i class="fa fa-pencil"></i></a>
                                                            <a title="Aprobar" onclick="getID(@item.ID_TAREA)" class="mb-xs mt-xs mr-xs modal-basic" href="#modalAprobar"><i class="fa fa-check"></i></a>
                                                            <a title="Revertir" onclick="getID(@item.ID_TAREA)" class="mb-xs mt-xs mr-xs modal-basic" href="#modalRevertir"><i class="fa fa-reply-all"></i></a>
                                                            <a title="Anular" onclick="getID(@item.ID_TAREA)" class="mb-xs mt-xs mr-xs modal-basic" href="#modalAnular"><i class="fa fa-times"></i></a>
                                                            <a title="Ver" href="@Url.Action("Ver","Tarea", new { id=item.ID_TAREA})"><i class="fa  fa-search"></i></a>
                                                            @*<a title="Eliminar" onclick="getID(@item.ID_TAREA)" class="mb-xs mt-xs mr-xs modal-basic" href="#modalMD"><i class="fa fa-trash-o"></i></a>*@
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>          

                    <div id="Acciones" class="tab-pane">
                        <form id="FrmAcciones">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Responsable Acción</label>
                                            <div class="input-group">
                                                <div hidden>
                                                    <input type="text" id="txtIDResponsableAccion" class="spinner-input form-control" value="@ViewBag.IdUsuarioAdmin" readonly>
                                                </div>
                                                <input type="text" id="TxtResponsableAccion" class="spinner-input form-control" value="@ViewBag.UserNameAdmin" readonly>
                                                <div class="spinner-buttons input-group-btn">
                                                    <button type="button" class="btn btn-default spinner-up">
                                                        <i class="fa fa-user"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class=" control-label">Fecha Inicio Acciones</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" id="FechaIniAccion" placeholder="__/__/____" data-plugin-datepicker data-plugin-options='{"format": "dd/mm/yyyy"}'
                                                       class="form-control" value="@ViewBag.FechaRegistro" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div hidden>
                                            <input type="text" id="txtidAccion" class="spinner-input form-control" readonly>
                                        </div>
                                        <div hidden>
                                            <input type="text" id="txtidTareaAccion" class="spinner-input form-control" readonly>
                                        </div>
                                        <div hidden>
                                            <input type="text" id="txtEstadoAccion" class="spinner-input form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Descripción</label>
                                            <input type="text" id="TxtDescripAccion" required name="TxtDesAccion" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Observación</label>
                                            <input type="text" id="TxtObservaAccion" required name="TxtDesAccion" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div id="ContenedorAcciones" class="form-group">
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="panel-body">
                                        <table class="table table-bordered table-striped mb-none table-hover" id="datatableAccion">
                                            <thead>
                                                <tr>
                                                    <th>Nro</th>
                                                    <th>Fecha</th>
                                                    <th>Responsable</th>
                                                    <th>Descripción</th>
                                                    <th>Observación</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.ListaAcciones)
                                                {
                                                    <tr>
                                                        <td>@item.ID_ACCION</td>
                                                        <td>@item.FECHA</td>
                                                        <td>@item.RESPONSABLE</td>
                                                        <td>@item.DESCRIPCION</td>
                                                        <td>@item.OBSERVACION</td>
                                                        <td class="@item.COLORESTADO ">@item.DESESTADO</td>
                                                        <td style="width:8%">
                                                            <a title="Editar" onclick="EditMaster(@item.ID_ACCION)"><i class="fa fa-pencil"></i></a>
                                                            <a title="Aprobar" onclick="getIDAccion(@item.ID_ACCION)" class="mb-xs mt-xs mr-xs modal-basic" href="#modalAprobar"><i class="fa fa-check"></i></a>
                                                            <a title="Revertir" onclick="getIDAccion(@item.ID_ACCION)" class="mb-xs mt-xs mr-xs modal-basic" href="#modalRevertir"><i class="fa fa-reply-all"></i></a>
                                                            <a title="Anular" onclick="getIDAccion(@item.ID_ACCION)" class="mb-xs mt-xs mr-xs modal-basic" href="#modalAnular"><i class="fa fa-times"></i></a>
                                                            <a title="Ver" href="@Url.Action("Ver","Ticket", new { id=item.ID_ACCION})"><i class="fa  fa-search"></i></a>
                                                            @*<a title="Eliminar" onclick="getID(@item.ID_TAREA)" class="mb-xs mt-xs mr-xs modal-basic" href="#modalMD"><i class="fa fa-trash-o"></i></a>*@
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end: page -->

<div id="modalAprobar" class="modal-block modal-block-md mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Confirmación</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Esta seguro de Aprobar la Tarea?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" onclick="modalAprobar()">Si Estoy seguro</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<div id="modalRevertir" class="modal-block modal-block-md mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Confirmación</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Esta seguro de Revertir la Tarea?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" onclick="modalRevertir()">Si Estoy seguro</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<div id="modalAnular" class="modal-block modal-block-md mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Confirmación</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Esta seguro de Anular la Tarea?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" onclick="modalAnular()">Si Estoy seguro</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>


<input type="hidden" value="" name="ID_TAREA" id="ID_TAREA" />
<input type="hidden" value="" name="ID_ACCION" id="ID_ACCION" />
<script>

    function EditMaster(idTarea) {
        $('#ClickRegistro a[href="#recent"]').tab('show');
     
    }

     function getID(id) {
        $("#IDTICKET").val(id);
    }

    function getIDAccion(id) {
        $("#ID_ACCION").val(id);
    }

    function modalAprobar(id) {
        let url= '@Url.Action("UpdAprobarEstado", "Ticket")'
        url = url + '/' + $("#IDTICKET").val();
        window.location.href = url;
    }

    function modalRevertir(id) {
        let url= '@Url.Action("UpdRevertirEstado", "Ticket")'
        url = url + '/' + $("#IDTICKET").val();
        window.location.href = url;
    }

    function modalAnular(id) {
        let url= '@Url.Action("UpdAnularEstado", "Ticket")'
        url = url + '/' + $("#IDTICKET").val();
        window.location.href = url;
    }
</script>
