@model IEnumerable<VIEW_Accesos>
@{
    ViewBag.Title = "Index";
}

<!-- start: page -->
<section class="panel">

    <div class="row">
        <div class="col-md-12">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li id="ClickTarea" class="active">
                        <a href="#popular" data-toggle="tab">
                       
                            Consultar Usuario
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="popular" class="tab-pane active">
                        <div class="panel-body">
                            <div class="row">
                                <ul class="notifications" style="float:right">
                                    <li>
                                        <a href="#" onclick="SendParametrosList()" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Usuario</label>
                                        <input type="text" id="USUARIO" maxlength="30" name="USUARIO" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Tipo Usuario</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-tasks"></i>
                                            </span>
                                            <select id="TIPOUSUARIO" name="TIPOUSUARIO" class="form-control" required>
                                                <option> Seleccione....</option>
                                                @foreach (var item in ViewBag.ListTipoUsu)
                                                {
                                                    <option value="@item.CODIGO">@item.NOMBRE</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Estado</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-tasks"></i>
                                            </span>
                                            <select id="ESTADO" name="ESTADO" class="form-control" required>
                                                <option> Seleccione....</option>
                                                @foreach (var item in ViewBag.ListEstado)
                                                {
                                                    <option value="@item.CODIGO">@item.NOMBRE</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <form id="Frmpopular">
                                <div class="row">
                                    <div class="panel-body">
                                        <table class="table table-hover mb-none" id="datatable-default">
                                            <thead>
                                                <tr class="dark">
                                                    <th>Nro</th>
                                                    <th>Fecha</th>
                                                    <th>Tipo</th>
                                                    <th>Usuario</th>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Fec. Expiración</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.IDUSUARIO</td>
                                                        <td>@item.FECHACREACION</td>
                                                        <td>@item.DESTIPOUSUARIO</td>
                                                        <td>@item.USUARIO</td>
                                                        <td>@item.NOMBRECOMPLETO</td>
                                                        <td>@item.EMAIL</td>
                                                        <td>@item.FECHAEXPIRACION</td>
                                                        <td>@item.DesEstado</td>
                                                        <td style="width:10%">
                                                            <a title="Ver" href="@Url.Action("Ver","Usuario", new { id=item.IDUSUARIO})"><i class="fa  fa-search"></i></a>
                                                            <a title="Modificar" href="@Url.Action("Modificar","Usuario", new { id=item.IDUSUARIO})"><i class="fa fa-pencil"></i></a>
                                                            <a title="Anular" class="modal-basic" href="#modalAnular" onclick="openAnularModal(@item.IDUSUARIO)"><i class="fa fa-times"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end: page -->

<div id="modalAnular" class="modal-block modal-block-md mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Confirmación</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Esta seguro de eliminar el Usuario?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm" onclick="modalAnular()">Si Estoy seguro</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>

<input type="hidden" value="" id="ID" />
<script>

    function modalAnular(id) {
        let url= '@Url.Action("modalAnular", "Usuario")'
        url = url + '/' + $("#ID").val();
        window.location.href = url;
    }

    var dt;
    // Función para abrir el modal de anular con el ID correspondiente
    function openAnularModal(id) {
        // Muestra el modal utilizando Magnific Popup
        $.magnificPopup.open({
            items: {
                src: '#modalAnular'
            },
            type: 'inline'
        });
        $("#ID").val(id);
    }





    function SendParametrosList() {
     
        // Definir la variable dt fuera del ámbito de la función para que sea accesible globalmente
        dt = $("#datatable-default").DataTable({
            destroy: true,
            responsive: true,
            searching: false,
            lengthChange: false,
            language: {
                "sInfo": "Mostrando _START_ a _END_ de _TOTAL_ registros"
            },
            ajax: {
                method: "POST",
                url: "Usuario/Buscar",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: function (d) {
                    d.TIPOUSUARIO = $('#TIPOUSUARIO').val();
                    d.USUARIO = $('#USUARIO').val();
                    d.ESTADO = $('#ESTADO').val();
                    return JSON.stringify(d);
                },
                dataSrc: "data"
            },
            columns: [
                { "data": "IDUSUARIO" },
                {
                    "data": "FECHACREACION",
                    "render": function (data) {
                        return formatDate(data);
                    }},
                { "data": "DESTIPOUSUARIO" },
                { "data": "USUARIO" },
                { "data": "NOMBRECOMPLETO" },
                { "data": "EMAIL" },
                { "data": "FECHAEXPIRACION" },
                { "data": "DesEstado" },
                {
                    "data": "IDUSUARIO",
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        var html = '<a title="Ver"  class="mb-xs mt-xs mr-xs modal-basic"  href="/Usuario/Ver/' + data + '"><i class="fa fa-search"></i></a>';
                        html += '<a title="Editar"  class="mb-xs mt-xs mr-xs modal-basic"  href="/Usuario/Modificar/' + data + '"><i class="fa fa-pencil"></i></a>';
                        html += '<a title="Anular"  class="mb-xs mt-xs mr-xs modal-basic"  href="#" onclick="openAnularModal(' + data + ')" ><i class="fa fa-times"></i></a>';
                        return html;
                    }
                }
            ]
        });
    }

</script>

